# Lecture 10 (b)
In this example, we will build a **linear regression model** to predict passengers' fares in the Titanic from multiple predictors.

In [1]:
# Load libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from sklearn import linear_model

In [2]:
# Load dataset
data = sns.load_dataset("titanic")
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
# Explore data
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [6]:
# Explore categorical variables
print(data.pclass.unique())

[3 1 2]

In [ ]:
# Plot ??? vs fare
ax = sns.regplot(data['???'], data['fare'])
ax.set(title = 'Fare by ???', xlabel = '???', ylabel = 'Fare')

In [5]:
# Build model with ??? predictors (using statsmodels)
model = smf.ols(formula = 'fare ~ age + pclass + embark_town + sibsp + parch + who', data = data)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   fare   R-squared:                       0.399
Model:                            OLS   Adj. R-squared:                  0.392
Method:                 Least Squares   F-statistic:                     58.29
Date:                Tue, 29 Sep 2020   Prob (F-statistic):           1.01e-72
Time:                        13:44:41   Log-Likelihood:                -3654.7
No. Observations:                 712   AIC:                             7327.
Df Residuals:                     703   BIC:                             7368.
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                    113.8360      8.344     13.643      0.000      97.454     130.217
embark_town[T.Queenstown]    -17.4324      8.889     -1.961      0.050     -34.885       0.021
embark_town[T.Southampton]   -22.9476      4.212     -5.448      0.000     -31.217     -14.678
who[T.man]                    18.0009      6.962      2.586      0.010       4.333      31.669
who[T.woman]                  21.0220      6.757      3.111      0.002       7.756      34.288
age                           -0.3620      0.141     -2.563      0.011      -0.639      -0.085
pclass                       -33.7774      2.139    -15.793      0.000     -37.977     -29.578
sibsp                          7.4639      1.975      3.779      0.000       3.586      11.342
parch                         11.5894      2.068      5.603      0.000       7.529      15.650
==============================================================================
Omnibus:                      809.352   Durbin-Watson:                   2.053
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            71146.292
Skew:                           5.410   Prob(JB):                         0.00
Kurtosis:                      50.761   Cond. No.                         231.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

**Question 01: Which predictors give you the best performance?**