# Lecture 05 (a)
In this example, we will **reshape** several datasets. Complete the code by filling in the blanks (`...`).

In [ ]:
import pandas as pd

In [ ]:
# Dataset B is TIDY
data_b = pd.read_csv("data_lecture_05_b.csv")
print(data_b)

In [ ]:
# TIDYING dataset A
# PROBLEM: one observation is stored in multiple rows
data_a = pd.read_csv("data_lecture_05_a.csv")
print(data_a)

In [ ]:
# Reshape (pivot) dataset A from long format to wide format
data_a_tidy = pd.pivot_table(...).reset_index()
print(data_a_tidy)

In [ ]:
# TIDYING dataset C
# PROBLEM: multiple variables ('cases', 'population') are stored in one column ('rate')
data_c = pd.read_csv("data_lecture_05_c.csv")
print(data_c)

In [ ]:
# Split 'rate' into two columns ('cases', 'population')
data_c_split = data_c['rate'].str.split(...)
data_c_split.columns = ['cases', 'population']
print(data_c_split)

In [ ]:
# Concatenate 'country', 'year', 'cases', and 'population'
data_c_tidy = pd.concat(???)
print(data_c_tidy)

In [ ]:
# TIDYING dataset D
# PROBLEM 1: column headers ('1999', '2000') are values, not variable names
# PROBLEM 2: a single observational unit is stored in multiple tables
data_d1 = pd.read_csv("data_lecture_05_d1.csv")
print(data_d1)
data_d2 = pd.read_csv("data_lecture_05_d2.csv")
print(data_d2)

In [ ]:
# Reshape (melt) dataset D1 from wide format to long format
data_d1_tidy = pd.melt(...)
print(data_d1_tidy)

In [ ]:
# Reshape (melt) dataset D2 from wide format to long format
data_d2_tidy = pd.melt(...)
print(data_d2_tidy)

In [ ]:
# Merge dataset D1 and dataset D2
data_d_tidy = pd.merge(...)
print(data_d_tidy)