# Lecture 05 (b)
In this example, we will deal with **missing data** in a dataset.

In [1]:
import pandas as pd

In [2]:
# Read dataset
data = pd.read_csv("data_lecture_05_e.csv")
print(data)

           Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
0      1/5/2015  289        2776.0            NaN            10030.0
1      1/4/2015  288        2775.0            NaN             9780.0
2      1/3/2015  287        2769.0         8166.0             9722.0
3      1/2/2015  286           NaN         8157.0                NaN
4    12/31/2014  284        2730.0         8115.0             9633.0
..          ...  ...           ...            ...                ...
117   3/27/2014    5         103.0            8.0                6.0
118   3/26/2014    4          86.0            NaN                NaN
119   3/25/2014    3          86.0            NaN                NaN
120   3/24/2014    2          86.0            NaN                NaN
121   3/22/2014    0          49.0            NaN                NaN

     Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  \
0              NaN            NaN                 NaN          NaN
1              NaN            NaN                 NaN          NaN
2              NaN            NaN                 NaN          NaN
3              NaN            NaN                 NaN          NaN
4              NaN            NaN                 NaN          NaN
..             ...            ...                 ...          ...
117            NaN            NaN                 NaN          NaN
118            NaN            NaN                 NaN          NaN
119            NaN            NaN                 NaN          NaN
120            NaN            NaN                 NaN          NaN
121            NaN            NaN                 NaN          NaN

     Cases_Mali  Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  \
0           NaN         1786.0             NaN              2977.0
1           NaN         1781.0             NaN              2943.0
2           NaN         1767.0          3496.0              2915.0
3           NaN            NaN          3496.0                 NaN
4           NaN         1739.0          3471.0              2827.0
..          ...            ...             ...                 ...
117         NaN           66.0             6.0                 5.0
118         NaN           62.0             NaN                 NaN
119         NaN           60.0             NaN                 NaN
120         NaN           59.0             NaN                 NaN
121         NaN           29.0             NaN                 NaN

     Deaths_Nigeria  Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  \
0               NaN             NaN                  NaN           NaN
1               NaN             NaN                  NaN           NaN
2               NaN             NaN                  NaN           NaN
3               NaN             NaN                  NaN           NaN
4               NaN             NaN                  NaN           NaN
..              ...             ...                  ...           ...
117             NaN             NaN                  NaN           NaN
118             NaN             NaN                  NaN           NaN
119             NaN             NaN                  NaN           NaN
120             NaN             NaN                  NaN           NaN
121             NaN             NaN                  NaN           NaN

     Deaths_Mali
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
117          NaN
118          NaN
119          NaN
120          NaN
121          NaN

[122 rows x 18 columns]

In [3]:
# Drop missing values
print(data.dropna())

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
19  11/18/2014  241        2047.0         7082.0             6190.0

    Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
19           20.0            1.0                 4.0          1.0         6.0

    Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
19         1214.0          2963.0              1267.0             8.0

    Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
19             0.0                  1.0           0.0          6.0

In [4]:
# Replace missing values (e.g., with 0)
print(data.fillna(0))

           Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
0      1/5/2015  289        2776.0            0.0            10030.0
1      1/4/2015  288        2775.0            0.0             9780.0
2      1/3/2015  287        2769.0         8166.0             9722.0
3      1/2/2015  286           0.0         8157.0                0.0
4    12/31/2014  284        2730.0         8115.0             9633.0
..          ...  ...           ...            ...                ...
117   3/27/2014    5         103.0            8.0                6.0
118   3/26/2014    4          86.0            0.0                0.0
119   3/25/2014    3          86.0            0.0                0.0
120   3/24/2014    2          86.0            0.0                0.0
121   3/22/2014    0          49.0            0.0                0.0

     Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  \
0              0.0            0.0                 0.0          0.0
1              0.0            0.0                 0.0          0.0
2              0.0            0.0                 0.0          0.0
3              0.0            0.0                 0.0          0.0
4              0.0            0.0                 0.0          0.0
..             ...            ...                 ...          ...
117            0.0            0.0                 0.0          0.0
118            0.0            0.0                 0.0          0.0
119            0.0            0.0                 0.0          0.0
120            0.0            0.0                 0.0          0.0
121            0.0            0.0                 0.0          0.0

     Cases_Mali  Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  \
0           0.0         1786.0             0.0              2977.0
1           0.0         1781.0             0.0              2943.0
2           0.0         1767.0          3496.0              2915.0
3           0.0            0.0          3496.0                 0.0
4           0.0         1739.0          3471.0              2827.0
..          ...            ...             ...                 ...
117         0.0           66.0             6.0                 5.0
118         0.0           62.0             0.0                 0.0
119         0.0           60.0             0.0                 0.0
120         0.0           59.0             0.0                 0.0
121         0.0           29.0             0.0                 0.0

     Deaths_Nigeria  Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  \
0               0.0             0.0                  0.0           0.0
1               0.0             0.0                  0.0           0.0
2               0.0             0.0                  0.0           0.0
3               0.0             0.0                  0.0           0.0
4               0.0             0.0                  0.0           0.0
..              ...             ...                  ...           ...
117             0.0             0.0                  0.0           0.0
118             0.0             0.0                  0.0           0.0
119             0.0             0.0                  0.0           0.0
120             0.0             0.0                  0.0           0.0
121             0.0             0.0                  0.0           0.0

     Deaths_Mali
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
..           ...
117          0.0
118          0.0
119          0.0
120          0.0
121          0.0

[122 rows x 18 columns]

In [ ]:
# Fill forward
print(data.fillna(method = 'ffill'))

In [ ]:
# Fill backward
print(data.fillna(method = 'bfill'))

In [ ]:
# Interpolate
print(data.interpolate(method = 'linear'))